<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Filial </h1>
          </div><!-- /.col -->
          
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

<!-- Main content -->
<div class="content">
      <div class="container-fluid">
        <div class="row">
  	<div class="col-md-12">
  		<div class="card">
        <div class="card-header with-border">
          <h3 class="card-title">Novo Registo</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="http://159.89.52.185:8080/filiais/new" method="post">
          <div class="card-body">
            <div class="form-group">
              <label for="nome"> Nome </label>
              <input type="text" class="form-control" id="nome" name="nome" required="required">
            </div>
            <div class="form-group">
              <label for="provincia"> Província </label>
              <input type="text" class="form-control" id="provincia" name="provincia" required="required">
            </div>
            <div class="form-group">
              <label for="telefone"> Telefone </label>
              <input type="text" class="form-control" id="telefone" name="telefone" required="required">
            </div>
           
          </div>
          <!-- /.box-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
          </div>
        </form>
      </div>
  	</div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
</div>
<!-- /.content-wrapper -->