
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <!-- small box -->
            <div class="small-box bg-white">
              <div class="inner">
                <h3>{$total_passageiros}</h3>

                <p>Passageiros registados</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="http://159.89.52.185:8080/passageiros" class="small-box-footer"> Mais informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>

            
          </div>
          <!-- /.col-md-4 -->
          <div class="col-lg-4">
            <div class="small-box bg-white">
              <div class="inner">
                <h3>{$total_motoristas1}</h3>

                <p>Motoqueiros Activos</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="http://159.89.52.185:8080/motoristas?filtro=Activos" class="small-box-footer"> Mais informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>            
          </div>
          <!-- /.col-md-4 -->
          <!-- /.col-md-4 -->
          <div class="col-lg-4">
            <div class="small-box bg-white">
              <div class="inner">
                <h3>{$total_viagens}</h3>

                <p>Viagens Realizadas</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="http://159.89.52.185:8080/report/viagens" class="small-box-footer"> Mais informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>            
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-12">
            <!-- MAP & BOX PANE -->
            <div class="card">
             
             
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div></div>
        

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

