<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fastmoto | Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" href="http://159.89.52.185:8080/img/logo_fastmoto.png" type="image/x-icon">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://159.89.52.185:8080/assets/login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://159.89.52.185:8080/assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://159.89.52.185:8080/assets/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://159.89.52.185:8080/assets/login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="http://159.89.52.185:8080/assets/login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://159.89.52.185:8080/assets/login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://159.89.52.185:8080/assets/login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="http://159.89.52.185:8080/assets/login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://159.89.52.185:8080/assets/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="http://159.89.52.185:8080/assets/login/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title">
					<img src="http://159.89.52.185:8080/img/Logo.jpeg" width="180">
					<span class="login100-form-title-1">
					
					</span>
					<span >
						{$retorno}
					</span>
				</div>

				<form class="login100-form validate-form" action="http://159.89.52.185:8080/login" method="post">
					
					<div class="wrap-input100 validate-input m-b-26" data-validate="Campo obrigatório">
						<span class="label-input100">Usuário</span>
						<input class="input100" type="text" name="usuario" placeholder="Digite o seu nome de usuário">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Campo obrigatório">
						<span class="label-input100">Senha</span>
						<input class="input100" type="password" name="senha" placeholder="Digite a sua senha">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<!--<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Lembra-me
							</label>
						</div>-->

						<div>
							<a href="#" class="txt1">
								<!-- Esqueci-me da minha palavra-passe-->
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Entrar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="http://159.89.52.185:8080/assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="http://159.89.52.185:8080/assets/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="http://159.89.52.185:8080/assets/login/vendor/bootstrap/js/popper.js"></script>
	<script src="http://159.89.52.185:8080/assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="http://159.89.52.185:8080/assets/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="http://159.89.52.185:8080/assets/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="http://159.89.52.185:8080/assets/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="http://159.89.52.185:8080/assets/login/js/main.js"></script>

</body>
</html>